@use 'variables' as *;
@use 'utils' as *;

.content-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-primary;
}

.content-login__left,
.content-login__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.content-login__left figure,
.content-login__right figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-login__left {
  flex-grow: 0.3;
  background-color: $color-white;
}

.content-login__left header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-login__left--logo {
  margin-bottom: 1rem;
  max-width: 40%;
}

.content-login__left--title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.content-login__left--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-login__left--form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
  font-size: 1rem;
  text-align: start;
}

.content-login__left--form .input-with-icon {
  width: 100%;
  border-radius: 8px;
  margin: 8px 0 0;
  display: flex;
}

.content-login__left--form span {
  display: flex;
  padding: 12px;
  border-radius: 0 8px 8px 0;
  background: $bg__linear-gradient-a;
  font-size: 1.6rem;
  color: $color-white;
}

.content-login__left--form input {
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: $color-bg-secondary;
  padding: 8px 0 8px 12px;
  width: 100%;
}

.content-login__left--buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 3rem 0 0;
  gap: 1.3rem;
}

.content-login__left--buttons-form,
.content-login__left--buttons-google {
  width: 100%;
}

.content-login__left--buttons-divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;

  font-size: 1rem;
  color: $color-text-secondary;
  font-weight: 400;
  text-transform: uppercase;
}

.content-login__left--buttons-divider-line {
  flex-grow: 1;
  height: 2px;
}

.content-login__right {
  display: none;
  gap: 1rem;
  flex-grow: 1;
}

.content-login__right--title {
  font-size: 2rem;
  font-weight: bold;
}

.content-login__right--logo {
  max-width: 80%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .content-login__left,
  .content-login__right {
    width: unset;
  }

  .content-login__left--logo {
    max-width: 80%;
  }
  .content-login__left--buttons {
    gap: 2rem;
  }

  .content-login__right {
    display: flex;
  }
}

@media only screen and (min-height: 768px) {
  .content-login {
    height: 100vh;
  }
}
