@use 'variables' as *;
@use 'utils' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}
